body{
    background-color: rgba(214, 243, 210, 1) !important;
    background-image: url(../images/successful/bg.svg);
    background-size: 100vw;
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: cover;
}
.successful{
    margin-top: 1rem;
    margin-left: 3rem;

}
.successful > h1 {
    color:rgba(255, 255, 255, 1);
    font-size:  25px;
    font-weight: 700;
    letter-spacing: .05rem;
    font-family: 'Century Gothic', sans-serif;
}
.successful > img {
    width: 39px;
    height: 40px;

}

.box{
    max-width: min(25vw, 680px);
    height: 250px;
    margin: 93px auto;
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    padding: 3rem;
    border-radius: 40px;
    background: rgba(138, 214, 132, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box img{
    width: 150px;
    height: 100px;
    padding: 1rem;

}
.box button{
    width: 350px;
    height: 45px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    font-weight:lighter;
    line-height: 25px;
    letter-spacing: .02rem;
    color: rgba(69, 73, 66, 1);
    transition: ease-out 0.4s;

}
.box button:hover{
    filter:opacity(.83);
}
.box h2{

    font-size: 36px;
    font-weight: 200;
    line-height: 44px;
    color: rgba(69, 73, 66, 1);
    font-family: 'Century Gothic', sans-serif;



}